.contact-us-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    color: #380E4A;
    background-color: rgba(249, 249, 249, 0.6);
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

.contact-us-left-column {
    flex: 1; 
    padding: 20px; 
}
  
.contact-us-left-column h2 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.contact-us-left-column p {
    font-size: 15px; 
}

.contact-us-right-column {
    flex: 1; 
    padding: 20px; 
}

.contact-us-right-column p {
    font-size: 15px; 
}

.form-section {
    color: #380E4A;
    margin-bottom: 20px;
    width: 20vw;
}

.form-component {
    padding: 20px;
    margin-bottom: 30px;
}

.form-component label {
    display: block;
    margin-bottom: 5px;
    color: #380E4A;
}

.form-section input {
    border: none;
    height: 2.5vh;
    background-color: transparent;
    border-bottom: solid;
    border-width: thin;
    border-color: #380E4A;
    margin-top: 5px;
    padding-left: 10px;
    width: 100%;  
}

.form-section input::placeholder{
    color: #380E4A;
}

.form-component button {
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: transparent;
    color: #380E4A;
    border-style: solid;
    border-width: thin;
    border-color: #380E4A;
    width: 50%;
    margin-top: 40px;
    font-weight: 900;
    margin-right: auto;
    display: block;
}

.google-map {
    height: 400px;
    width: 100%;
}
