body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 
  background-size: 100vw 100vh; 
  background-repeat: no-repeat; 
  background: rgb(232,116,97);
  background: linear-gradient(90deg, rgba(232,116,97,0.40379901960784315) 0%, rgba(160,137,222,1) 100%);
}

